:root {
  --bg_h: #1d2021;
  --bg: #282828;
  --bg_s: #32302f;
  --bg1: #3c3836;
  --bg2: #504945;
  --bg3: #665c54;
  --bg4: #7c6f64;

  --fg: #fbf1c7;
  --fg1: #ebdbb2;
  --fg2: #d5c4a1;
  --fg3: #bdae93;
  --fg4: #a89984;

  --red: #fb4934;
  --green: #b8bb26;
  --yellow: #fabd2f;
  --blue: #83a598;
  --purple: #d3869b;
  --aqua: #8ec07c;
  --gray: #928374;
  --orange: #fe8019;

  --red-dim: #cc2412;
  --green-dim: #98971a;
  --yellow-dim: #d79921;
  --blue-dim: #458588;
  --purple-dim: #b16286;
  --aqua-dim: #689d6a;
  --gray-dim: #a89984;
  --orange-dim: #d65d0e;

  --border: 5px solid var(--bg_h);
  --transition: 0.2s ease-in-out;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: monospace;
  background: var(--bg_s);
  color: var(--fg);
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 100px 1fr;
  height: 100vh;
  overflow: hidden;
}

header {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 0;
  border-bottom: var(--border);
}

h1 {
  color: var(--fg1);
}
h2 {
  color: var(--fg2);
}
h3 {
  color: var(--fg3);
}
h4 {
  color: var(--fg4);
}

p {
  color: var(--green);
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
  font-size: 2em;
  color: var(--blue);
  border: none;
  background: var(--bg);
  border: var(--border);
  padding: 0.25em;
  width: 2em;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.column {
  flex-direction: column;
}

.flex .evenly {
  justify-content: space-between;
}

.flex .around {
  justify-content: space-around;
  align-items: start;
}

.flex .start {
  justify-content: flex-start;
}

.grid-center {
  grid-column: 3 / span 4;
  justify-self: center;
}
