@keyframes pulse {
  0% {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  }
  50% {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);
  }
  100% {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  }
}

* {
  margin: 0;
  padding: 0;
  padding-inline-start: 0;
  margin-inline-start: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.25rem;
  margin-bottom: 1rem;
}

body {
  background: gray;
  font-family: monospace;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
  gap: 2rem;
}

h1 {
  padding: 0.25rem 0;
  border-bottom: 3px solid black;
  text-underline-offset: 1rem;
}

.card {
  width: 20rem;
  aspect-ratio: 7/4;
  border-radius: 1rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  padding: 0.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  transition: 0.2s;
}

.card:hover {
  animation: pulse 2s infinite;
}

.card a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.card h3 {
  width: 100%;
  border-bottom: 2px solid black;
}

.card span {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.container canvas  {
  border: 5px solid black;
  border-radius: 1rem;
}
